body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #f1f1f1, #e0e0e0);
}

nav {
    background-color: #3f51b5;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li button {
    color: white;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

nav ul li button:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    text-align: center;
}

#current-data, #topic-data {
    text-align: left;
    margin: 20px auto;
    width: 60%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#current-data h2, #topic-data h2 {
    font-size: 24px;
    color: #333;
}

#current-data ul {
    list-style-type: none;
    padding: 0;
}

#current-data ul li {
    font-size: 18px;
    color: #777;
    margin-bottom: 10px;
}

#current-data ul li span {
    font-weight: bold;
    color: #333;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}
